.PlaylistControl {
  display: flex;
  align-items: center;
  width: 94%;
  padding: 2%;
  background-color: rgba(92, 104, 155, 0.2);
  margin-top: 1%;
}

.PlaylistHeading {
  display: flex;
  width: 35%;
}

.PlaylistControl h2 {
  display: flex;
  justify-content: left;
  width: 85%;
}

.Playlist-add {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.25rem;
  min-height: 1.25rem;
  margin-right: 2%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color .5s;
  border: 0px;
  background-color: #6c41ec00;
  color: #fff;
}

.TracklistHeading{
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.PlaylistControl input {
  display: flex;
  max-width: 85%;
  flex-shrink: 2;
  height: 2rem;
  border: 0;
  /* border-left: 1px solid #fff; */
  padding-left: 2%;
  outline: 0;
  background: transparent;
  /* border-bottom: 1px solid #6f6f6f; Will need to use this as an "available for entry" indicator*/
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
  box-sizing: border-box;
}

.Playlist-save {
  display: flex;
  cursor: pointer;
  min-width: 2rem;
  min-height: 2rem;
  padding: .25rem 0;
  border-radius: 50%;
  border-width: 0px;
  background-image: url("./save-as-64.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
  background-color: #6c41ec00;
  text-align: center;
  font-size: .83rem;
  transition: background-color .5s;
  color: #fff;
  font-weight: 500;
  
}

.tooltip {
  display: flex;
  position: relative;
}

.ttText-add {
  visibility: hidden;
  position: absolute;
  top: 1.8rem;
  left: 0.5rem;
  z-index: 5;
  color: rgba(0,0,0,0);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s, color .5s;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.ttText-save {
  visibility: hidden;
  position: absolute;
  top: 2.35rem;
  left: 0.5rem;
  z-index: 5;
  color: rgba(0,0,0,0);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s, color .5s;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.Playlist-add:hover{
  background-color: rgba(108, 65, 233, .7);
}

.tooltip:hover .ttText-add{
  visibility: visible;
  color: #fff;
  background-color: rgba(78, 39, 194, 0.5);
}

.tooltip:hover .ttText-save{
  /* visibility: visible; */
  color: #fff;
  background-color: rgba(78, 39, 194, 0.5);
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .PlaylistControl {
    width: 90%;
  }
}