.PlaylistBrowse {
    display: flex;
    flex-direction: column;
    align-items: top;
    /* overflow-y: scroll; */
    border-right: 2px solid rgba(256,256,256,0.15);
    width: 35%;
    max-height: 950px;
    padding: 2% 3% 2% 2%;
    background-color: rgba(1, 12, 63, 0.7);
}